<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.carflow.BigCarFlowWidgetDao">


    <!-- 车流趋势日数据 基础天 zf @update zf 20170822-->
    <select id="findCarFlowQsByDay"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.Big_CarFlow_WidgetTend">
        SELECT COUNT(id) AS SumCar,#{date} AS Time
        FROM jq_tvpm_vehiclelog_part AS s
        WHERE s.vcode = #{vcode}
        AND ( s.accessdate BETWEEN #{startTime} AND #{endTime} )
    </select>

    <!-- 车流趋势日分段-->
    <select id="findCarFlowByDay"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.Big_CarFlow_WidgetTend">
        SELECT count(id) as sumCar,DATE_FORMAT(s.accessdate,'%Y-%m-%d') as Time
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and ( s.accessdate BETWEEN #{startTime} and #{endTime} )
        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m-%d')
    </select>

    <!-- 车流趋势年分段 zf 修改查基础表jq_tvpm_vehiclelog_part   @update zf 20170822-->
    <select id="findCarFlowByYear"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.Big_CarFlow_WidgetTend">
        SELECT COUNT(s.id) as sumCar,DATE_FORMAT(s.ACCESSDATE,'%Y') as Time
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and (s.ACCESSDATE BETWEEN #{startTime} and #{endTime})
        GROUP BY  DATE_FORMAT(s.ACCESSDATE,'%Y')
    </select>

    <!-- 各类车辆总体数量分布 年  @update zf 20170822-->
    <select id="findCarTypePrecentByYear"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Type_TendWidget">
        SELECT count(id) as SumCar,vehicleType as CarType
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and ( s.accessdate BETWEEN #{startTime} and #{endTime} )
        GROUP BY  s.vehicleType
    </select>

    <!-- 各类车辆总体数量分布 月  @update zf 20170822-->
    <select id="findCarTypePrecentByMonth"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Type_TendWidget">
        SELECT count(id) as SumCar,vehicleType as CarType
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and ( s.accessdate BETWEEN #{startTime} and #{endTime} )
        GROUP BY  s.vehicleType
    </select>

    <!-- 各类车辆总体数量分布 日 @update zf 20170822-->
    <select id="findCarTypePrecentByDay"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Type_TendWidget">
        SELECT count(id) as SumCar,vehicleType as CarType
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and ( s.accessdate BETWEEN #{startTime} and #{endTime} )
        GROUP BY  s.vehicleType
    </select>

    <!-- 各类车辆总体数量分布 日期段-->
    <select id="findCarTypePrecentByTimeQuantum"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Type_TendWidget">
        SELECT count(id) as SumCar,vehicleType as CarType
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and ( s.accessdate BETWEEN #{startTime} and #{endTime} )
        GROUP BY  s.vehicleType
    </select>

    <!-- 车流分析各类车型分析，总体数量分布  年 @update zf 20170822-->
    <select id="findCarTypePrecentByYearTime"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Type_TendWidget">
        SELECT count(id) as SumCar,vehicleType as CarType
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and  (s.accessdate BETWEEN #{startTime} and #{endTime})
        GROUP BY  DATE_FORMAT(s.accessdate,'%Y'),s.vehicleType
    </select>

    <!-- 车流分析各类车型分析，总体数量分布  月 @update zf 20170822-->
    <select id="findCarTypePrecentByMonthTime"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Type_TendWidget">
        SELECT count(id) as SumCar,vehicleType as CarType
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and  (s.accessdate BETWEEN #{startTime} and #{endTime})
        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m'),s.vehicleType
    </select>

    <!-- 车流分析各类车型分析，总体数量分布  日 @update zf 20170822-->
    <select id="findCarTypePrecentByDayTime"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Type_TendWidget">
        SELECT count(id) as SumCar,vehicleType as CarType
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and  (s.accessdate BETWEEN #{startTime} and #{endTime})
        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m-%d'),s.vehicleType
    </select>

    <!-- 汽车趋势（月份）@update zf 20170822-->
    <select id="findChangeCarSumByMonth"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Change_Time_TendWidget">
        SELECT count(id) as num,vehicleType as source,DATE_FORMAT(s.accessdate,'%Y-%m-%d') as time
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and (s.accessdate BETWEEN #{startTime} and #{endTime})
        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m-%d'),s.vehicleType
    </select>

    <!-- 汽车趋势（日）@update zf 20170822-->
    <select id="findChangeCarSumByDay"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Change_Time_TendWidget">
        SELECT count(id) as num,vehicleType as source,DATE_FORMAT(s.accessdate,'%H:00') as time
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and (s.accessdate BETWEEN #{startTime} and #{endTime})
        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m-%d %H'),s.vehicleType
    </select>

    <!-- 汽车趋势（年）@update zf 20170822-->
    <select id="findChangeCarSumByYear"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Change_Time_TendWidget">
        SELECT count(id) as num,vehicleType as source,DATE_FORMAT(s.accessdate,'%Y-%m') as time
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and (s.accessdate BETWEEN #{startTime} and #{endTime})
        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m'),s.vehicleType
    </select>

    <!-- 车流分析;各类车辆实时变动趋势  日  @update zf 20170822-->
    <select id="findChangeCarSum"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Change_Time_TendWidget">
        SELECT count(id) as num,vehicleType as source,DATE_FORMAT(s.accessdate,'%Y-%m-%d') as time
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and  (s.accessdate BETWEEN #{startTime} and #{endTime} )
        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m-%d'),s.vehicleType
    </select>

    <!-- 各类车辆变动趋势（每日） @update zf 20170822-->
    <select id="getCarTypeHour"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Change_Time_TendWidget">
        SELECT count(id) as num,vehicleType as source,DATE_FORMAT(s.accessdate,'%H:00') as time
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and (s.accessdate BETWEEN #{startTime} and #{endTime})

        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m-%d %H')
    </select>

    <!-- 各类车辆变动趋势（年） @update zf 20170822-->
    <select id="getCarTypeMonth"  parameterType="Map" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlow_Change_Time_TendWidget">
        SELECT count(id) as num,vehicleType as source,DATE_FORMAT(s.accessdate,'%Y-%m') as time
        FROM jq_tvpm_vehiclelog_part as s
        where s.vcode = #{vcode}
        and (s.accessdate BETWEEN #{startTime} and #{endTime})
        <choose>
            <when test="type ==1 ">
                and s.vehicleType in (1)
            </when>
            <when test="type ==2 ">
                and s.vehicleType in (2)
            </when>
            <otherwise>
                and s.vehicleType in (0,3,4,5,6,7,8)
            </otherwise>
        </choose>

        GROUP BY  DATE_FORMAT(s.accessdate,'%Y-%m')
    </select>
    <!-- 通过景区编码查询省份名,省份的region是前三位+"000"-->
    <select id="getRegionByVcode" resultType="string" parameterType="string">
        SELECT
        sr.`NAME`
        FROM
        sys_region sr
        WHERE
        sr.REGION = CONCAT(
        SUBSTRING(
        (
        SELECT
        sr.REGION
        FROM
        sys_region sr
        INNER JOIN sys_manager_l sml ON sr.REGION = sml.REGION
        WHERE
        sml.VCODE = #{vcode}
        AND sml.REGION IS NOT NULL
        LIMIT 1
        ),
        1,
        2
        ),
        '0000'
        )
    </select>

    <!--获取每天的 按景区编码和小时进行分组的车流统计数据 zf  @update zf 20170822-->
    <select id="getCarFlowDailyTocalCountGroupByVcodeAndHour" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlowVosWidget" parameterType="map">
        SELECT DATE_FORMAT(t.ACCESSDATE,'%H:00') AS TIME,COUNT(t.id) AS num
        FROM jq_tvpm_vehiclelog_part AS t
        WHERE  t.vcode = #{vcode}
        AND t.ACCESSDATE BETWEEN CONCAT(#{day},' 00:00:00') AND CONCAT(#{day},' 23:59:59')
        GROUP BY DATE_FORMAT(t.ACCESSDATE,'%H') ORDER BY t.ACCESSDATE;
    </select>


    <!--获取每月车流趋势 zf 作废-->
    <select id="getCarFlowBymonth" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlowVosWidget" parameterType="map">
        SELECT DATE_FORMAT(t.ACCESSDATE,'%d') AS TIME,COUNT(t.id) AS num
        FROM jq_tvpm_vehiclelog_part AS t
        WHERE t.vcode = #{vcode}
        AND DATE_FORMAT(t.ACCESSDATE,'%Y-%m')=#{day}
        GROUP BY DATE_FORMAT(t.ACCESSDATE,'%d') ORDER BY t.ACCESSDATE;
    </select>

    <!--获取每年月度车流趋势 zf 作废-->
    <select id="getCarFlowByyear" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarFlowVosWidget" parameterType="map">
        SELECT DATE_FORMAT(t.ACCESSDATE,'%m') AS TIME,COUNT(t.id) AS num
        FROM jq_tvpm_vehiclelog_part AS t
        WHERE t.vcode = #{vcode}
        AND DATE_FORMAT(t.ACCESSDATE,'%Y')=#{day}
        GROUP BY DATE_FORMAT(t.ACCESSDATE,'%m') ORDER BY t.ACCESSDATE;
    </select>


    <!--每年季度车流趋势 zf   @update zf 20170822-->
    <select id="find_quarter_date" resultType="java.util.Map">
        SELECT IFNULL(SUM(q1),0) AS q1,IFNULL(SUM(q2),0) AS q2,IFNULL(SUM(q3),0) AS q3,IFNULL(SUM(q4),0) AS q4 FROM (
        SELECT  CASE WHEN ACCESSDATE BETWEEN '${date}-01-01' AND '${date}-03-31' THEN 1 ELSE 0 END AS q1,
        CASE WHEN ACCESSDATE BETWEEN '${date}-04-01' AND '${date}-06-31' THEN 1 ELSE 0 END AS q2,
        CASE WHEN ACCESSDATE BETWEEN '${date}-07-01' AND '${date}-09-31' THEN 1 ELSE 0 END AS q3,
        CASE WHEN ACCESSDATE BETWEEN '${date}-10-01' AND '${date}-12-31' THEN 1 ELSE 0 END AS q4
        FROM jq_tvpm_vehiclelog_part WHERE ACCESSDATE BETWEEN '${date}-01-01' AND '${date}-12-31' AND vcode ='${vcode}')a

    </select>
</mapper>
