<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.springboot.dao.carflow.CarComeFromWidgetDao">


    <!-- 当日车辆来源排行 -->
    <select id="getCarComeFromDay" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarComeFromWidgetVo" parameterType="map">
        select count(s.ID) num,
        substr(s.VEHICLENO,1,2) carNum
        from jq_tvpm_vehiclelog_part s
        where s.VCODE = #{vcode}
        and substr(s.ACCESSDATE,1,10) = #{day}
        group by substr(s.ACCESSDATE,1,10),CARNUM,s.VCODE
        ORDER BY num desc
    </select>

    <!-- 选择日期车辆来源排行 @update zf 20170822 20170928-->
    <select id="getCarComeFromDay2Day" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarComeFromWidgetVo" parameterType="map">
        select count(s.ID) num,
        PROVINCE ,CITY as carNum
        from jq_tvpm_vehiclelog_part s
        where s.VCODE = #{vcode} AND city IS NOT NULL AND province IS NOT NULL
        and (s.ACCESSDATE BETWEEN #{beginDay} AND #{endDay})
        group by CARNUM
        ORDER BY num desc
        LIMIT 100
    </select>

    <!-- 季度城市车辆来源 zf   @update zf 20170822 20170928-->
    <select id="getCarComeFromQuarter" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarComeFromWidgetVo" parameterType="map">
        SELECT COUNT(s.ID) num,
        PROVINCE ,CITY as carNum
        FROM jq_tvpm_vehiclelog_part s
        WHERE s.VCODE = #{vcode} AND city IS NOT NULL AND province IS NOT NULL
        AND (s.ACCESSDATE BETWEEN #{startTime} AND #{endTime})
        GROUP BY CARNUM
        ORDER BY num DESC
    </select>

    <!-- 当年城市车辆来源 -->
    <select id="getCarComeFromYear" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarComeFromWidgetVo" parameterType="map">
        select count(s.ID) num,
        substr(s.VEHICLENO,1,2) carNum
        from jq_tvpm_vehiclelog_part s
        where s.VCODE = #{vcode}
        and DATE_FORMAT(s.ACCESSDATE,'%Y') = #{year}
        group by substr(s.ACCESSDATE,1,4),CARNUM,VCODE
        ORDER BY num desc
    </select>

    <!-- 选择日期车辆来源排行 zf   @update zf 20170822-->
    <select id="getCarComeFromYear2Year" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarComeFromWidgetVo" parameterType="map">
        select count(s.ID) num,
        PROVINCE ,CITY as carNum
        from jq_tvpm_vehiclelog_part s
        where s.VCODE = #{vcode} AND city IS NOT NULL AND province IS NOT NULL
        and (s.ACCESSDATE BETWEEN #{beginYear} AND #{endYear})
        group by CARNUM
        ORDER BY num desc
    </select>

    <!-- 当月城市车辆来源 zf   @update zf 20170822-->
    <select id="getCarComeFromMonth" resultType="org.spring.springboot.domain.madeVoBean.carFlow.CarComeFromWidgetVo" parameterType="map">
        select count(s.ID) num,
        PROVINCE ,CITY as carNum
        from jq_tvpm_vehiclelog_part s
        where s.VCODE = #{vcode} AND city IS NOT NULL AND province IS NOT NULL
        and (s.ACCESSDATE BETWEEN #{startTime} and #{endTime})
        group by CARNUM
        ORDER BY num desc
    </select>

    <!-- 车流来源景区region -->
    <select id="getRegion" resultType="String" parameterType="String">
         SELECT
         j.administrative_division AS region
         FROM
            jq_scenic_areas AS j
        WHERE
            vcode =#{vcode}
        AND STATUS = 1
        AND j.ADMINISTRATIVE_DIVISION IS NOT NULL
        LIMIT 1
    </select>

</mapper>