<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.springboot.dao.carflow.JqTvpmCheckoutWidgetDao">


	<!-- @update zf 20170822-->
    <select id="getJqTvpmCheckout" parameterType="map"
            resultType="org.spring.springboot.domain.madeVoBean.carFlow.JqTvpmCheckoutWidget">
		<![CDATA[

		SELECT
    	 count(s.id) as  num,
        PROVINCE  as PROVINCE
      FROM JQ_TVPM_CHECKOUT s
      WHERE s.VCODE = #{vcode} AND city IS NOT NULL AND province IS NOT NULL
      AND (s.entrancetime BETWEEN #{startTime} and #{endTime})
      GROUP BY PROVINCE
      ORDER BY num DESC
	  LIMIT 5

        ]]>
	</select>

    <!--分组车牌基础查询停车场数量 天  @update zf 20170822-->
    <select id="getJqTvpmCheckoutByDay" parameterType="map"
            resultType="org.spring.springboot.domain.madeVoBean.carFlow.JqTvpmCheckoutWidget">
		<![CDATA[

		SELECT
    	 count(s.id) as  num,
         PROVINCE  as PROVINCE
      FROM JQ_TVPM_CHECKOUT s
      WHERE s.VCODE = #{vcode} AND city IS NOT NULL AND province IS NOT NULL
      AND (s.entrancetime BETWEEN #{startTime} and #{endTime})
      GROUP BY PROVINCE
      ORDER BY num DESC
      LIMIT 5

        ]]>
	</select>

    <select id="getJqTvpmBetween" parameterType="map"
            resultType="org.spring.springboot.domain.madeVoBean.carFlow.JqTvpmCheckoutWidget">
		<![CDATA[

	SELECT
     count(s.id)  as  num,
        substr(s.entrancevehicleno, 1, 2) as carNum
      FROM JQ_TVPM_CHECKOUT s
      WHERE s.VCODE = #{vcode}
      AND (DATE_FORMAT(s.entrancetime, '%Y-%m-%d') BETWEEN DATE_FORMAT(#{stTime}, '%Y-%m-%d') AND DATE_FORMAT(#{enTime}, '%Y-%m-%d'))
      GROUP BY carNum
      ORDER BY num DESC
      LIMIT 5

        ]]>
	</select>

	<!--@update zf 20170822 -->
    <select id="getJqTvpmSum" parameterType="map"
            resultType="org.spring.springboot.domain.madeVoBean.carFlow.JqTvpm_Percent_TendWidget">
		<![CDATA[

		SELECT
    	 count(s.id) as  num
      FROM JQ_TVPM_CHECKOUT s
      WHERE s.VCODE = #{vcode}
      AND (s.entrancetime BETWEEN #{startTime} and #{endTime})
      ORDER BY num DESC;

        ]]>
	</select>

    <!--基础查询停车场结算总数量 天-->
    <select id="getJqTvpmSumByDay" parameterType="map"
            resultType="org.spring.springboot.domain.madeVoBean.carFlow.JqTvpm_Percent_TendWidget">
		<![CDATA[

		SELECT
    	 count(s.id) as  num
      FROM JQ_TVPM_CHECKOUT s
      WHERE s.VCODE = #{vcode}
      AND (s.entrancetime BETWEEN #{startTime} and #{endTime})
      ORDER BY num DESC;

        ]]>
	</select>

    <select id="getJqTvpmSumBtweenSum" parameterType="map"
            resultType="org.spring.springboot.domain.madeVoBean.carFlow.JqTvpm_Percent_TendWidget">
		<![CDATA[


	SELECT
    	 count(s.id) as  num
      FROM JQ_TVPM_CHECKOUT s
      WHERE s.VCODE = #{vcode}
			and DATE_FORMAT(s.entrancetime, '%Y-%m-%d') >= DATE_FORMAT(#{stTime},'%Y-%m-%d')
			AND  DATE_FORMAT(s.entrancetime, '%Y-%m-%d') <= DATE_FORMAT(#{enTime},'%Y-%m-%d')
       ORDER BY num DESC;

        ]]>
	</select>

    <select id="isFindCheckOut" parameterType="map"
            resultType="Integer">
		SELECT  count(*) as count
		FROM JQ_TVPM_CHECKOUT s
		WHERE DATE_FORMAT(s.ENTRANCETIME,'%Y-%m-%d %H') =#{time} and s.vcode=#{vcode};
	</select>

    <select id="findCheckOutData" parameterType="map"
            resultType="org.spring.springboot.domain.madeVoBean.carFlow.JqTvpmCheckoutWidget">
		SELECT  s.DEDUCTIONMONEY,s.ENTRANCETIME,s.ENTRANCEVEHICLENO,s.EXITTIME,s.EXITVEHICLENO,s.PAYMENTMONEY,s.TOTALMONEY,s.VCODE,s.VEHICLETYPE,s.memo
		FROM JQ_TVPM_CHECKOUT s
		WHERE s.vcode=#{vcode} limit 0,10;
	</select>

    <insert id="insertCheckOut" parameterType="map">
		insert into JQ_TVPM_CHECKOUT (DEDUCTIONMONEY,ENTRANCETIME,ENTRANCEVEHICLENO,EXITTIME,EXITVEHICLENO,PAYMENTMONEY,TOTALMONEY,VCODE,VEHICLETYPE,MEMO) VALUES
 		(#{DEDUCTIONMONEY},NOW(),#{ENTRANCEVEHICLENO},NOW(),#{EXITVEHICLENO},#{PAYMENTMONEY},#{TOTALMONEY},#{VCODE},#{VEHICLETYPE},#{MEMO});
	</insert>
</mapper>