<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.springboot.dao.wifiAnalysis.WifiAnalysisMapper">

    <select id="getWifiByDay" resultType="Integer" parameterType="map">
        <![CDATA[
	        SELECT
                COUNT(1) AS num
            FROM
                jq_wifi_part
            WHERE
                vcode = #{vcode}
            AND isAssociated = 1
            AND addTime BETWEEN #{startTime}
            AND #{endTime}
		]]>
    </select>
</mapper>