<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.springboot.dao.microWeb.MicroRealPeopleMapper">

    <select id="getComfort" parameterType="java.util.Map"
            resultType="org.spring.springboot.domain.mysqlBean.microWeb.JqComfortVo">
        <![CDATA[
        SELECT * FROM JQ_COMFORT where CAST(standard AS signed) <= CAST(#{people} AS signed)
        AND  vcode=#{vcode} order by CAST(standard AS signed) desc limit 1
        ]]>
    </select>
    <select id="getRealpeople" parameterType="java.util.Map"
            resultType="org.spring.springboot.domain.mysqlBean.microWeb.JqComfortVo">
        <![CDATA[
           select SUM(s.total)  as  conut ,MAXQUANTITY as maxquantity  from jq_scenic_timely_population as s where s.time >'${time}:00:00:00 '  and  s.TIME < '${time}:23:59:59 ' and s.VCODE= #{vcode}
        ]]>
    </select>

</mapper>
